apiVersion: v1
description: |
  The *Airlock Microgateway* is a component of the [Airlock Secure Access Hub](https://www.airlock.com/).
  It is the lightweight, container-based deployment form of the *Airlock Gateway*, a software appliance with reverse-proxy, Web Application Firewall (WAF) and API security functionality.
home: https://www.airlock.com
keywords:
  - WAF
  - Web Application Firewall
  - Airlock
  - MicroGateway
  - Security
  - Filtering
maintainers:
  - email: support@airlock.com
    name: Airlock
name: microgateway
version: 2.2.0
appVersion: "2.1.0"
