{{- $config := .Values.config -}}
{{- $simple := $config.simple -}}
{{- $global := $config.global -}}
{{- $generic := $config.generic -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "microgateway.fullname" . }}
  labels:
    {{- include "microgateway.labels" . | nindent 4 }}
data:
{{- if $config.expert.dsl }}
  config.yaml: |{{ toYaml $config.expert.dsl | nindent 4 }}
{{- else }}
  config.yaml: |
    license_file: /secret/config/license
    session:
      encryption_passphrase_file: /secret/config/passphrase
    {{- if or .Values.redis.enabled $global.redis_hosts }}
      {{- if $global.redis_hosts }}
      redis_hosts:
        {{- range $global.redis_hosts }}
        - {{ . }}
        {{- end }}
      {{- else }}
      redis_hosts: [redis-master]
      {{- end }}
    {{- end }}
    log:
      level: {{ $global.log_level }}
  {{- if or (include "microgateway.apacheExpertSettings" .) (include "microgateway.securityGateExpertSettings" .) }}
    expert_settings:
    {{- if (include "microgateway.apacheExpertSettings" .) }}
      apache: |
      {{- if $global.ip_header.trusted_proxies }}
        RemoteIPHeader {{ $global.ip_header.header }}
        {{- range $global.ip_header.trusted_proxies }}
        RemoteIPInternalProxy {{ . }}
        {{- end }}
      {{- end }}
      {{- if $global.virtual_host.tls.protocol }}
        SSLProtocol {{ $global.virtual_host.tls.protocol }}
      {{- end }}
      {{- if $global.virtual_host.tls.cipher_suite }}
        SSLCipherSuite {{ $global.virtual_host.tls.cipher_suite }}
      {{- end }}
      {{- with $global.expert_settings.apache }}
        {{- . | nindent 8 }}
      {{- end }}
    {{- end }}
    {{- if (include "microgateway.securityGateExpertSettings" .) }}
      security_gate: |
      {{- if $global.backend.tls.server_ca }}
        BackendSSLServerCA /secret/tls/backend-server-validation-ca.crt
      {{- end }}
      {{- if $global.backend.tls.client_cert }}
        BackendSSLClientCert /secret/tls/backend-client.crt
        BackendSSLClientCertKey /secret/tls/backend-client.key
      {{- end }}
      {{- if $global.backend.tls.verify_host }}
        BackendSSLVerifyHost "true"
      {{- end }}
      {{- if $global.backend.tls.version }}
        BackendSSLVersion {{ $global.backend.tls.version }}
      {{- end }}
      {{- if $global.backend.tls.cipher_suite }}
        BackendSSLCipherSuite {{ $global.backend.tls.cipher_suite }}
      {{- end }}
      {{- if $global.backend.tls.cipher_suite_v13 }}
        BackendSSLCipherSuiteTls13 {{ $global.backend.tls.cipher_suite_v13 }}
      {{- end }}
      {{- with $global.expert_settings.security_gate }}
        {{- . | nindent 8 }}
      {{- end }}
    {{- end }}
  {{- end }}
    apps:
    - mappings:
      - entry_path:
          value: {{ $simple.mapping.entry_path }}
        operational_mode: {{ $simple.mapping.operational_mode }}
        {{- if $simple.mapping.session_handling }}
        session_handling: {{ $simple.mapping.session_handling }}
        {{- else if or .Values.redis.enabled $global.redis_hosts }}
        session_handling: {{ "enforce_session" }}
        {{- else }}
        session_handling: {{ "ignore_session" }}
        {{- end }}
        deny_rule_groups:
        - enabled: {{ $simple.mapping.deny_rules.enabled }}
          log_only: {{ $simple.mapping.deny_rules.log_only }}
          level: {{ $simple.mapping.deny_rules.level }}
          {{- with $simple.mapping.deny_rules.exceptions }}
          exceptions: {{ toYaml . | nindent 12 }}
          {{- end }}
        backend:
          hosts:
          - protocol: {{ $simple.backend.protocol }}
            name: {{ $simple.backend.hostname }}
            port: {{ $simple.backend.port }}
    {{- if $generic.tlsSecretName }}
      virtual_host:
        certificate:
          certificate_file: /secret/tls/frontend-server.crt
          privatekey_file: /secret/tls/frontend-server.key
          ca_chain_file: /secret/tls/frontend-server-ca.crt
    {{- end }}
{{- end }}
