name: Lint and Test Charts

on:
  pull_request:
    paths:
      - 'charts/**'
      - '.github/workflows/ci.yaml'
  workflow_dispatch:

jobs:
  generate-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install helm-docs
        run: .github/helm-docs-install.sh
        env:
          HELM_DOCS_VERSION: "0.12.0"
      - name: Run helm-docs
        id: validatedocs
        run: .github/helm-docs-verify.sh
      - name: Generate helm-docs (on failure)
        if: failure()
        run: .github/helm-docs-generate.sh
        env:
          BRANCH_NAME: ${{ github.head_ref }}
          TECHNICAL_USER_TOKEN: ${{ secrets.TECHNICAL_USER_TOKEN }}
          TECHNICAL_USER: ${{ secrets.TECHNICAL_USER }}
  kubeval-chart:
    runs-on: ubuntu-latest
    needs:
      - generate-docs
    strategy:
      matrix:
        k8s:
          - v1.18.15
          - v1.19.7
          - v1.20.2
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run kubeval
        env:
          KUBERNETES_VERSION: ${{ matrix.k8s }}
        run: .github/kubeval.sh
  install-chart:
    name: install-chart
    runs-on: ubuntu-latest
    needs:
      - kubeval-chart
    strategy:
      matrix:
        k8s:
          - v1.18.15
          - v1.19.7
          - v1.20.2
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.4.0
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.0.1
      - name: Run chart-testing (lint)
        run: ct lint --config .github/ct.yaml
      - name: Create kind ${{ matrix.k8s }} cluster
        uses: helm/kind-action@v1.0.0
        with:
          node_image: kindest/node:${{ matrix.k8s }}
      - name: Create Secrets
        run: |
          kubectl cluster-info
          kubectl create secret docker-registry dockersecret --docker-username=${{ secrets.DOCKER_USER }} --docker-password=${{ secrets.DOCKER_USER_TOKEN }}
          kubectl create secret generic microgatewaysecrets --from-literal=license="${{ secrets.WAF_LICENSE }}" --from-literal=passphrase="${{ secrets.WAF_PASSPHRASE }}"
      - name: Run chart-testing (install)
        run: ct install --config .github/ct.yaml
