name: Release Charts

on:
  push:
    branches:
      - master
    paths:
      - 'charts/**'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Configure Git
        run: |
          git config user.name "'${{ secrets.TECHNICAL_USER }}'"
          git config user.email "'${{ secrets.TECHNICAL_USER }}'@users.noreply.github.com"
      - name: Run chart-releaser
        uses: helm/chart-releaser-action@master
        env:
          TECHNICAL_USER_TOKEN: '${{ secrets.TECHNICAL_USER_TOKEN }}'
